body {
  font-family: "Roboto", sans-serif;
  background: url("../img/main-bg.png") center center no-repeat fixed;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  body #wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgba(35, 23, 40, 0.9), rgba(35, 23, 40, 0.3), rgba(255, 255, 255, 0.1));
    height: 100%;
    width: 100%; }
    body #wrapper .content {
      width: 100%;
      height: 100%; }
      body #wrapper .content .left {
        margin-left: 60px;
        padding-top: 35px;
        width: 170px; }
        body #wrapper .content .left .azeristu-logo {
          width: 190px; }
        body #wrapper .content .left .heart {
          font-family: "Roboto", sans-serif;
          color: rgba(183, 183, 183, 0.7);
          margin-top: 35px;
          font-size: 18px; }
          body #wrapper .content .left .heart i {
            margin-right: 7px;
            color: rgba(183, 183, 183, 0.4); }
        body #wrapper .content .left .links {
          text-align: right;
          margin-top: 50px; }
          body #wrapper .content .left .links a {
            font-family: "Roboto", sans-serif;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.24);
            font-size: 15px;
            display: inline-block;
            text-align: center;
            border: 1px solid rgba(169, 154, 154, 0.24);
            padding: 13px 21px;
            border-radius: 4px;
            margin: 0 auto; }
          body #wrapper .content .left .links .lorem1 {
            margin-bottom: 10px; }
        body #wrapper .content .left .store {
          display: block;
          width: 144px;
          float: right;
          margin-top: 62px; }
        body #wrapper .content .left .azeristu {
          width: 100px;
          margin-top: 50px;
          margin-right: 20px;
          float: right; }
          body #wrapper .content .left .azeristu::after {
            content: "";
            clear: both; }
        body #wrapper .content .left .social {
          display: flex;
          justify-content: right;
          margin-top: 40px;
          float: right; }
          body #wrapper .content .left .social a {
            font-family: "Roboto", sans-serif;
            padding: 5px 8px;
            color: rgba(255, 255, 255, 0.24);
            border: 1px solid rgba(169, 154, 154, 0.24);
            border-radius: 3px;
            margin-right: 10px;
            text-decoration: none;
            font-size: 16px; }
            body #wrapper .content .left .social a:first-child {
              font-size: 12px;
              padding: 5px 11px; }
              body #wrapper .content .left .social a:first-child i {
                font-size: 16px;
                margin-left: 5px;
                line-height: 12px;
                margin-top: 4px;
                vertical-align: bottom; }
            body #wrapper .content .left .social a:last-child {
              margin-right: 0px; }
        body #wrapper .content .left .paragraph {
          margin-top: 15px;
          float: right; }
          body #wrapper .content .left .paragraph p {
            color: rgba(255, 255, 255, 0.5);
            font-family: "Roboto", sans-serif;
            font-size: 10px;
            line-height: 14px;
            text-align: right; }
    body #wrapper .clear {
      clear: both; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=style.css.map */
