// <-- ~~~~~~~~~~~~~~~~~~    Variables    ~~~~~~~~~~~~~~~~~~ --> //
$txt-col: white;
$txt-col2: #d4d2d2;
$txt-col-trend: #c43235; //#5e0231; //#6534ff; //#b56969; //#6ed3cf;
$txt-col-dark: #696969;
$txt-col-darker: #a9abb0;
$bg-col: #0c0c0c;
$bg-col2: #111;
$bg-col-nav: #222;
$bg-col-input: #151515;
$main-font: 'Roboto',
sans-serif;
// <-- ~~~~~~~~~~~~~~~~~~    General Styles    ~~~~~~~~~~~~~~~~~~ --> //
body {
  font-family: $main-font;
  #wrapper {
    position: relative;
    width: 100vw;
    height: 100%;
    &::after {
      position: absolute;
      content: "";
      background: url("../img/main-bg.png") center center no-repeat fixed;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    .content {
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      .overlay {
        width: 100vw;
        height: 100%;
        background-image: linear-gradient(to right, rgba(35, 23, 40, .9), rgba(35, 23, 40, .8), rgba(255, 255, 255, .1));
        .left {
          margin-left: 60px;
          padding-top: 50px;
          width: 210px;
          .azeristu-logo {
            width: 240px;
          }
          .heart {
            font-family: $main-font;
            color: rgba(183, 183, 183, 0.7);
            margin-top: 50px;
            font-size: 21px;
            i {
              margin-right: 7px;
              color: rgba(183, 183, 183, 0.4);
            }
          }
          .links {
            text-align: right;
            a {
              font-family: $main-font;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.24);
              font-size: 16px;
              display: inline-block;
              text-align: center;
              border: 1px solid;
              padding: 13px 21px;
              border-radius: 4px;
              margin: 0 auto;
            }
            .lorem1 {
              margin-top: 80px;
              margin-bottom: 10px;
            }
          }
          .store {
            display: block;
            width: 148px;
            float: right;
            margin-top: 50px;
          }
          .azeristu {
            width: 100px;
            margin-top: 50px;
            float: right;
            &::after{
              content: "";
              clear: both;
            }
          }
        }
        .main {
          width: 30%;
        }
      }
    }
  }
}

// <-- ~~~~~~~~~~~~~~~~~~    Imports    ~~~~~~~~~~~~~~~~~~ --> //
@import 'reset';